body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - 350px);
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    padding: 20px;
    box-sizing: border-box; 
    overflow: scroll;
}

.marker-cluster-label {
    fill: #fff;
    font-family: 'Roboto Slab', serif;
}

path.leaflet-interactive[stroke-width="1.5"] {
    stroke: #fff;
}
